@page "/info"

<PageTitle>Info</PageTitle>

<h1>GDSwithUI</h1>

<p>Welcome to GDSwithUI, your solution for handling the Certificates of OPC UA Applications.</p>

<Contribute Title="Wanna contribute?" />
